@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

.hero {
  background-color: black;
  position: relative;
  overflow: hidden;
  z-index: 1;

  .slider_container {
    height: 100dvh;

    &.active {
      .slider {
        // background-size: cover;
        width: 100%;
      }
    }

    .slider {
      top: 0;
      position: fixed;
      transition: 1s;
      height: 100dvh;
      z-index: -2;
      width: 0;
      overflow: hidden;
      background-position: center;
      background-size: cover 100%;

      &::after {
        content: "";
        inset: 0;
        z-index: 1;
        position: absolute;
        background-color: rgba(20, 73, 126, 0.541);
      }

      .content_container {
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: fit-content;
        padding: 10px;
        text-align: center;
        overflow: hidden;

        .contant {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1em;
          color: white;
          // text-shadow: 0 0 2px black;

          h2,
          p {
            // text-shadow: 0 0 4px black;
            // backdrop-filter: sepia(90%) blur(4px);
          }

          h2 {
            color: white;
            font-family: "Droid Arabic Kufi", serif;
            line-height: 2;
            font-size: 3em;
            font-weight: 800;
          }

          p {
            font-size: 25px;
            white-space: break-spaces;
            line-height: 2;
            font-weight: 400;
          }
          * {
            margin: 0;
          }
        }
      }
    }
  }
}
